@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Mission06_Richards.Models.Movie

<h2>Add a Movie</h2>

<form asp-action="Add" method="post">

    <label>Category:</label>
    <input asp-for="CategoryID" required />
    <br />

    <label>Title:</label>
    <input asp-for="Title" required />
    <br />

    <label>Year:</label>
    <input asp-for="Year" required />
    <br />

    <label>Director:</label>
    <input asp-for="Director" required />
    <br />

    <label>Rating:</label>
    <select asp-for="Rating" required>
        <option value="">Select Rating</option>
        <option>G</option>
        <option>PG</option>
        <option>PG-13</option>
        <option>R</option>
    </select>
    <br />

    <label>Edited:</label>
    <select asp-for="Edited">
        <option value="">Select</option>
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br />

    <label>Lent To:</label>
    <input asp-for="LentTo" />
    <br />

    <label>Notes (max 25 characters):</label>
    <input asp-for="Notes" maxlength="25" />
    <br />

    <button type="submit">Save Movie</button>

</form>
