@{
    ViewData["Title"] = "Get to Know Joel";
}

<h2>Get to Know Joel</h2>

<p>
    Joel performs regularly at
    <a href="https://www.qwcomedy.com/" target="_blank">
        Quick Wits Comedy
    </a>.
</p>

<p>
    He also co-hosts the weekly podcast
    <a href="https://baconsale.com/" target="_blank">
        Baconsale
    </a>.
</p>

<div>
    <a href="https://baconsale.com/" target="_blank">
        <img src="~/img/BaconsaleKate.jpg" alt="Baconsale" width="400" />
    </a>

</div>
